@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #F5F5F5;
  font-family: "Arial",sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 96%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.main { padding: 15px 0; }

h1 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.budget-app {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  gap: 115px;
  align-items: flex-start;
}

#budgetForm,
#expenseForm,
.expenseTitle,
.expensePrice,
.budgetAmount {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#budgetForm,
#expenseForm { 
  padding: 10px; 
  border-radius: 5px;
}

.budgetAmount,
.expenseTitle,
.expensePrice { 
  width: 100%;
  padding-top: 15px;
 }

#budgetForm { border: 2px solid #466B40; }
#expenseForm { border: 2px solid #B62F31; }
.budget-display { flex-basis: 50%; }

.budget-details {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

form input {
  width: 95%; 
  padding: 4px 5px;
  border-radius: 5px;
  background-color: #fff;
}

#enterBudget { border: 1px solid #708D6B; }
#expenseForm input { border: 1px solid #CD7778; }

form label {
  padding-bottom: 5px;
  color: #1E1E1E;
  font-size: 15px;
}

.btn { 
  padding: 5px 15px;
  margin: 10px 0;
  background-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s;
}

.calculate { 
  border: 1px solid #708D6B;
  color: #708D6B; 
}

.calculate:hover {
  background-color: #708D6B;
  color: #fff; 
}

.addExpense { 
  border: 1px solid #CD7778;
  color: #CD7778; 
}

.addExpense:hover {
  background-color: #CD7778;
  color: #fff; 
}

.budget-display,
.list{
  display: flex;
  flex-direction: column;
}

#expense-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.budget-calculation,
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row { 
  padding: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.list { 
  gap: 17px;
  text-align: center; 
}

.list h2 {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.list .amount {
  color: #466B40;
  font-size: 33px;
}

.icon {
  display: flex;
  justify-content: center;
  font-family: "FontAwesome";
  text-indent: -9999px;
}

.icon::before {
  color: #07658F;
  font-size: 50px;
  text-indent: 0;
}

.first .icon::before { content: "\f0d6"; }
.second .icon::before { content: "\f09d"; }
.third .icon::before { content: "\24"; }
.second .amount { color: #B62F31; }
.budget-display {  gap: 35px; }

.errBudget,
.errExpense {
  padding-top: 5px;
  color: #c91619;
  font-size: 10px;
}

.editBtn,
.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  text-indent: -9999px;
}

.editBtn::before,
.deleteBtn::before {
  font-family: "FontAwesome";
  font-size: 15px;
  text-indent: 0;
  cursor: pointer;
}

.editBtn:before { content: "\f044";}
.deleteBtn::before { content: "\f2ed";}

.rows:nth-child(3) {
  display: flex;
  gap: 10px;
}
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}  